<header class="kth-header external">
    <div>
        <div class="kth-header__container">
            <a href="<%= process.env.APP_PATH %>/" class="kth-logotype">
                <figure>
                    <img alt="To KTH's start page" width="64" height="64" src="/almatools/assets/logotype/logotype-white.svg">
                </figure>
            </a>
            <div class="kth-mega-menu" aria-label="Main menu">
                <h3><%=config.translations.paymentheader%></h3>
            </div>
            <ul class="kth-header__tools">
                <li>
                    <button class="kth-menu-item language"  onclick="switchLanguage()"><%=config.translations.language%></button>
                </li>
            </ul>
        </div>
    </div>
</header>
<%- include('../partials/paymentscript'); %>