<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>

  <main>
    <h1>Aktivera ditt låntagarkonto</h1>
    <div class="lead ">
        <p>För att kunna reservera, låna eller beställa material från biblioteket behöver ditt låntagarkonto aktiveras. Aktivera ditt konto genom att godkänna våra användarvillkor nedan.</p>
    </div>
    <h1>Activate your library account</h1>
    <div class="lead ">
        <p>In order to borrow or request materials from the library you need to activate your library account. Activate your account by accepting our terms of use below.</p>
    </div>

    <div class="preArticleParagraphs">
        <div class="">
            <p>Är du inte student eller anställd på KTH? <a href="https://www.kth.se/biblioteket/anvanda-biblioteket/registrera-dig-1.869092">Registrera dig.</a></p>
        </div>
    </div>

    <div class="preArticleParagraphs">
        <div class="">
            <p>Not a student or staff member at KTH? <a href="https://www.kth.se/en/biblioteket/anvanda-biblioteket/registrera-dig-1.869092">Register here.</a></p>
        </div>
    </div>

    <form onsubmit="return sendrequest();" method="post" action="javascript:;" name="activatepatron" id="activatepatron">
        <input type="hidden" name="token" value="" />
        <input id="language" name="language" type="hidden" value="">
        <div id="userinfo">
            <span style="display:inline-block" class="" for="userfullname">Inloggad som <%= user.unique_name[0] %></span><i><span id="userfullname"></span></i>
            <div id="activepatron"></div>
            <div id="activepatroninfo"></p></div>
        </div>
        <input id="iskth" name="iskth" type="hidden" value="true">
        <input id="id" name="id" type="hidden" value="<%= user.kthid %>" class="required" placeholder="">
        <input id="almaid" name="almaid" type="hidden" value="">
        <input id="isactivepatron" name="isactivepatron" type="hidden" value="">
        <div id="almapin">
            <label class="bib_label" for="almapin">
                PIN (xxxx) <i>(välj din egen fyrasiffriga PIN-kod för att låna i självbetjäningsautomaterna)</i>
            </label>
            <div>
                <input class="required" type="text" name="almapinnumber" id="almapinnumber" minlength="2">
            </div>
        </div>
        <div id="willing">
            <input class="required" type="checkbox" name="willingcheck" id="willingcheck" value="J">&nbsp;<label style="display:inline-block" class="bib_label" for="willingcheck">Jag godkänner KTH Bibliotekets <a target='_blank' href='https://www.kth.se/biblioteket/anvanda-biblioteket/anvandarvillkor-1.854843'>användarvillkor.</a></label><br>
        </div>
        <div>
            <input id="skicka" name="skicka" type="submit" value="Aktivera mitt bibliotekskonto" >
        </div>
    </form>
    <div id="myModal" class="1modal" tabindex="-1">
        <div class="1modal-content">
            <div id="loadingmessage">
                <img src="images/ajax_loader_blue_512.gif"/>
                <div id="modaltext" class="alert alert-danger"></div>
            </div>
        </div>
    </div>
    <div class="activatedtext alert alert-info">
        <p>Ditt konto är redan aktiverat! Låna böcker med ditt svenska personnummer eller det tillfälliga T-personnumret och din valda PIN-kod i våra självserviceautomater.</p>
								<p>Observera, om du är student vid Campus Södertälje och saknar svenskt personnummmer behöver du hämta ut ett lånekort i informationsdisken.</p>
								<p>Läs mer om hur du <a href="https://www.kth.se/biblioteket/anvanda-biblioteket/lana-och-bestalla/lana-och-bestalla-1.853035">lånar och beställer.</a></p>
								<p>Välkommen till KTH Biblioteket!</p>
      </div>
      <div class="activationtext alert alert-success">
        <p>Ditt konto är aktiverat! Låna böcker med ditt svenska personnummer eller det tillfälliga T-personnumret och din valda PIN-kod i våra självserviceautomater.</p>
								<p>Observera, om du är student vid Campus Södertälje och saknar svenskt personnummmer behöver du hämta ut ett lånekort i informationsdisken.</p>
								<p>Läs mer om hur du <a href="https://www.kth.se/biblioteket/anvanda-biblioteket/lana-och-bestalla/lana-och-bestalla-1.853035">lånar och beställer</a></p>
								<p>Välkommen till KTH Biblioteket!</p>
      </div>
  </main>
  <script>
    $(document).ready(function() {
    });
  </script>
</body>
</html>
