<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<body>
    <div>
        <%- include('../partials/header') %>
        <script>
            const thisSessionId = Math.random().toString(36).substr(2, 9);
            const socket = io('', { path: "/almatools/socket.io" })
            socket.on("connect", () => {

            });
            socket.emit('connectInit', thisSessionId);
        </script>
    </div>
</body>

</html>